# Backend-specific ignores
node_modules/
dist/
coverage/
*.tsbuildinfo
.env
.env.*
.nyc_output/
.eslintcache
.prettiercache
logs/
*.log

!src/logs/
!src/logs/**
!src/query-api/logs/
!src/query-api/logs/**
!src/shared/logs/
!src/shared/logs/**
!src/shared/apm/logs/
!src/shared/apm/logs/**
!src/stream-processor/logs/
!src/stream-processor/logs/**
